:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #FFFFFF;
  --greyLight-0: #e3e6eb;
  --greyLight-4: #d9dfea;

  --greyLight-1: #e3e6eb82;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #383838;
}

body {  
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: var(--greyLight-1);
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/page_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.7;
  z-index: 0.1;
}

/* .language-section {
  float: right;
  margin-right: 20px;
  margin-top: 8px;
  background: #494844;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  border: 1px solid antiquewhite;
  box-shadow: 2px 2px 4px 2px rgba(17, 18, 19, 0.5);
} */

.language-section{
  padding: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  position: relative;
  top: 5vh;
  border-radius: 5vh;
  backdrop-filter: blur(15px);

}

.Language-text {
  color: #1a017298;
  font-weight: bold;
  font-size: 1.5vh;
  /* text-shadow: 2px 2px 4px #000000; */
}

.line-between-eng-mr {
  color: red;
  font-weight: bold;
  font-size: 1.5vh;
  /* text-shadow: 2px 2px 4px #000000; */
}

.english-text,
.marathi-text {
  font-weight: bold;
  font-size: 1.5vh;
  color: var(--greyDark);
  /* text-shadow: 2px 2px 4px #000000; */
}


.login-container {
  padding: 2vh;
  border-radius: 5vh;
  backdrop-filter: blur(15px);
  border: 1px solid rgb(255, 255, 255);
  background: var(--greyLight-1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.roted-img-section {
  width: 14vh;
  height: 14vh;
  border-radius: 100%;
  backdrop-filter: blur(0px);
  /* border: 1px solid rgb(255, 255, 255); */
  background-color: var(--greyLight-1);
  box-shadow: inset 2px 0px 8px #bec7ce, inset -4px -4px 8px #ffffff;
}

.roted-img-second-section {
  width: 12vh;
  height: 12vh;
  background: var(--greyLight-1);
  box-shadow: .3rem .3rem .6rem var(--greyLight-2),
    -.2rem -.2rem .5rem var(--white);
  border-radius: 100%;
  padding: 0.5vh;
  border: 1px solid rgb(255, 255, 255);
}

/* Custom styles */
.image-container {
  position: absolute;
  width: 10.8vh;
  height: 10.8vh;
  border-radius: 100%;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.rotated-image {
  animation: rotateAnimation 5s linear infinite;
}

.inner {
  width: 8.5vh;
  height: 8.5vh;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.inner:hover {
  box-shadow: 0 0 10px rgba(255, 3, 3, 0.5);
  border-radius: 90%;
  transform: scale(0.9);
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.input-group {
  background: var(--white);
  border: 1px solid rgba(156, 151, 151, 0.29);
  height: 5.4vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 4px 20px;
  border-radius: 5px;
  width: 20vh;
  cursor: pointer;
  background: #24A3FF;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  outline: none !important;
  color: var(--white);
  font-size: 2vh;
  font-weight: 700;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 2vh;
  font-weight: 700;
}

.login-btn:hover {
  background: var(--greyLight-4);
  color: var(--primary);
  border: none;
  font-size: 2vh;
  font-weight: 700;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.refresh-captcha {
  cursor: pointer;
  color: rgba(128, 128, 128, 0.565);
  text-decoration: underline;
  margin-left: 5px;
  font-size: 2vh;
}

#togglePassword {
  color: rgba(128, 128, 128, 0.565);
  background: none;
  border: none;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

#captchaQuestion {
  color: gray;
}

.form-control {
  border-radius: 1vh;
  border: none;
  background-color: transparent;
  color: gray !important;
  height: 5.4vh;
  font-size:2vh;
}

.form-control::placeholder {
  color: gray;
  opacity: 1;
}

.input-group,
.btn {
  border-radius: 2vh;
}

.fa-refresh:hover {
  animation: rotateicon 1s infinite;
}

@keyframes rotateicon {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}


@media screen and (max-width: 984px) and (min-width: 288px) {
  body {
    height: auto !important;
    ;

  }
  .main{
      height: auto !important;
  }
}




/* Add this CSS to your styles */
.vehicle-animation {
  position: absolute;
  top: 46%;
  left: 100px; /* Start position off the screen */
  width: 50px; /* Adjust as needed */
  height: auto;
  transform: translateY(-100%);
  transition: left 2s linear; /* Duration and timing function for animation */
}

.vehicle-animation.animate {
  left: 84%; /* End position off the screen */
}
/* Add this CSS to your styles */
.vehicle-animation2 {
  position: absolute;
  top: 43.2%;
  left: 5.2%; /* Start position off the screen */
  width: 15vh; /* Adjust as needed */
  height: auto;
  transform: translateY(-100%);
  transition: left 2s linear, transform 0.3s ease-in-out; /* Add transform transition */
  z-index: -1;
}

.vehicle-animation2:hover {
  transform: translateY(-100%) scale(1.1); /* Apply zoom effect on hover */
  cursor: pointer;
}


/* Add this CSS to your styles */
.vehicle-animation3 {
  position: absolute;
  top: 43%;
  left: 92%; /* Start position off the screen */
  width: 3vh; /* Adjust as needed */
  height: auto;
  transform: translateY(-100%);
  transition: left 2s linear; /* Duration and timing function for animation */
  z-index: -1;
}


@media screen and (min-resolution: 0.4dppx) {
  body {  
   
    height: auto !important;
 
  }
  



 
